<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="CinemaServicePortBinding" 
                   allowCookies="true"
                   maxReceivedMessageSize="20000000"
                   maxBufferSize="20000000"
                   maxBufferPoolSize="20000000">
            <readerQuotas 
              maxDepth="32" 
              maxArrayLength="200000000"
              maxStringContentLength="200000000"/>
          </binding>
          <binding name="CityServicePortBinding" 
                   allowCookies="true"
                   maxReceivedMessageSize="20000000"
                   maxBufferSize="20000000"
                   maxBufferPoolSize="20000000">
          <readerQuotas
             maxDepth="32"
             maxArrayLength="200000000"
             maxStringContentLength="200000000"/>
          </binding>
          <binding name="HallServicePortBinding"/>           
          <binding name="SitServicePortBinding" />
          <binding name="FloorServicePortBinding" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://127.0.0.1:9998/CinemaService"
                  binding="basicHttpBinding"
                  bindingConfiguration="CinemaServicePortBinding"
                  contract="CinemaService.ICinemaService"
                  name="CinemaServicePort" />
        <endpoint address="http://127.0.0.1:9998/CityService"
                  binding="basicHttpBinding"
                  bindingConfiguration="CityServicePortBinding"
                  contract="CityService.ICityService"
                  name="CityServicePort" />
        <endpoint address="http://127.0.0.1:9998/HallService"
                  binding="basicHttpBinding"
                  bindingConfiguration="HallServicePortBinding"
                  contract="HallService.IHallService"
                  name="HallServicePort" />
        <endpoint address="http://127.0.0.1:9998/SitService"
                  binding="basicHttpBinding"
                  bindingConfiguration="SitServicePortBinding"
                  contract="SitService.ISitService"
                  name="SitServicePort" />
        <endpoint address="http://127.0.0.1:9998/FloorService" 
                  binding="basicHttpBinding"
                  bindingConfiguration="FloorServicePortBinding" 
                  contract="FloorService.IFloorService"
                  name="FloorServicePort" />
      </client>
    </system.serviceModel>
</configuration>