<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CinemaServicePortBinding" />
        <binding name="CityServicePortBinding" />
        <binding name="HallServicePortBinding" />
        <binding name="SeatServicePortBinding" />
        <binding name="FloorServicePortBinding" />
        <binding name="ShowServicePortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:9998/CinemaService" binding="basicHttpBinding"
        bindingConfiguration="CinemaServicePortBinding" contract="CinemaService.ICinemaService"
        name="CinemaServicePort" />
      <endpoint address="http://127.0.0.1:9998/CityService" binding="basicHttpBinding"
        bindingConfiguration="CityServicePortBinding" contract="CityService.ICityService"
        name="CityServicePort" />
      <endpoint address="http://127.0.0.1:9998/HallService" binding="basicHttpBinding"
        bindingConfiguration="HallServicePortBinding" contract="HallService.IHallService"
        name="HallServicePort" />
      <endpoint address="http://127.0.0.1:9998/FloorService" binding="basicHttpBinding"
        bindingConfiguration="FloorServicePortBinding" contract="FloorService.IFloorService"
        name="FloorServicePort" />
      <endpoint address="http://127.0.0.1:9998/SeatService" binding="basicHttpBinding"
        bindingConfiguration="SeatServicePortBinding" contract="SeatService.ISeatService"
        name="SeatServicePort" />
      <endpoint address="http://127.0.0.1:9998/ShowService" binding="basicHttpBinding"
        bindingConfiguration="ShowServicePortBinding" contract="ShowService.IShowService"
        name="ShowServicePort" />
    </client>
  </system.serviceModel>
</configuration>