<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">Entn1234</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:entn</property>
        <property name="hibernate.connection.username">pbab</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hibernate.validator.autoregister_listeners">false</property>
        <mapping class="isd.dp.ua.HibernateModels1.Floor" />
        <mapping class="isd.dp.ua.HibernateModels1.Seat" />
        <mapping class="isd.dp.ua.HibernateModels1.City" />
        <mapping class="isd.dp.ua.HibernateModels1.Scheduler" />
        <mapping class="isd.dp.ua.HibernateModels1.Tickets" />
        <mapping class="isd.dp.ua.HibernateModels1.Cinema" />
        <mapping class="isd.dp.ua.HibernateModels1.Show" />
        <mapping class="isd.dp.ua.HibernateModels1.Orders" />
        <mapping class="isd.dp.ua.HibernateModels1.Hall" />
    </session-factory>
</hibernate-configuration>
